<div class="top-slide">
<h1 class="ml11">
  <span class="text-wrapper">
    <span class="letters">ええんか</span>
  </span>
</h1>
    演歌それは日本人の心を底から感動させる歌。決してほかの歌には実現できない渋さがある。<br>このサイトは演歌によって感動を届けるための演歌専門販売サイト「ええんか」<br>感動させて"ええんか"？
</div>

<div class="container">
    <div class="theTarget">
        <div class="1"></div>
        <div class="2"></div>
        <div class="3"></div>
    </div>
</div>

<!-- このページでJSを読み込んでいる -->


<!-- eenkaタイトル用JS -->
<script>
$('.ml11 .letters').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline()
  .add({
    targets: '.ml11 .line',
    scaleY: [0,1],
    opacity: [0.5,1],
    easing: "easeOutExpo",
    duration: 700
  })
  .add({
    targets: '.ml11 .line',
    translateX: [0,$(".ml11 .letters").width()],
    easing: "easeOutExpo",
    duration: 700,
    delay: 100
  }).add({
    targets: '.ml11 .letter',
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 600,
    offset: '-=775',
    delay: function(el, i) {
      return 34 * (i+1)
    }
  }).add({
    targets: '.ml11',
    // opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
