// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.admin-background {
	background-image: image-url("admin_background_image.jpg");
	background-size: cover;
 	background-position: center;
 	height: 685px;
}

.page-title {
	font-size: 36px;
	color: white;
	margin: 10px 0;
	padding-left: 50px;
}

.order-table {
	border-collapse: collapse;
	border-radius: 10px !important;/*角の丸み*/
	background-color: #FFF !important;
	border: solid 3px #cee4ae !important;
	width: 80% !important;
	margin: 0 auto !important;
}
