// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.admin_products {
	background-image: image-url("admin_background_image.jpg");
	background-size: cover;
 	background-position: center;
 	min-height: 100%;
}

.page_title {
	font-size: 36px;
	color: white;
	margin: 10px 0;
	padding-left: 50px;
}

.button-color {
	color: #82ae46 !important;
}

.song_field {
	margin-left:30px;
}

.product-wrapper {
	display: flex;
}

.left-box {
	width: 50%;
	padding: 0 5%;
}

.product-table {
	border-collapse: collapse;
	border-radius: 10px !important;/*角の丸み*/
	background-color: #FFF !important;
	border: solid 3px #cee4ae !important;
}

td {
	color: #82ae46;
}

th {
	color: #82ae46;
}
.right-box {
	width: 50%;
}

.disc-box {
	padding: 0.5em 1em;
    margin: 2em 5%;
    font-weight: bold;
    color: #82ae46;/*文字色*/
    background: #FFF;
    border: solid 3px #cee4ae;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.admin-product-new-form {
	width: 35%;
	margin: 0 auto;
	border-radius: 10px;/*角の丸み*/
	background-color: #FFF;
	border: solid 3px #cee4ae;
	padding: 15px 45px ;
}

.label {
	color: #82ae46;/*文字色*/
}

.error-massage {
	text-align: center;
}