/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .clearfix::after {
  content: "";
  display: block;
  clear: both;
}


header {
	background-color: #cee4ae;
	height: 100px;
}

nav li {
	float:left;
	list-style: none;
	margin-left: 20px;
}

input#user_email, input#user_password, input#user_password_confirmation, input#user_current_password, input#user_first_name,
input#user_last_name, input#user_first_kana, input#user_last_kana, input#user_postal_code, input#user_adress,input#user_phone_number{
  width: 100%;
  height: 30px;
  padding: 10px;
  border: solid 1px #b3b3b3;
}

.side-menue {
  width:220px;
  float:right;
  padding:70px 0;
  border: solid 2px;
}

.genre_name {
  margin:30px auto;
  font-size: 20px;
  text-align: center;
}

.body {
  width:1000px;
  float:left;
}


