// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_content {
	width:80%;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}

.conteiner {
	background: rgba(255,255,255,0.95);
}

img {
	width:200px !important;
	display:block;
}

.table {
	background-color:transparent !important;
}
