// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_content {
	background-image:url(cart.jpg);
	background-repeat:no-repeat;
	width:50%;
	height:500px;
	background-size:cover;
	margin-left:50px;
	margin-top:50px;
}

.conteiner {
	background: rgba(255,255,255,0.95);
	height:500px;
}

img {
	width:200px !important;
	display:block;
}

.table {
	background-color:transparent !important;
}
