// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_image img {
	width:100px !important;
	height:100px !important;
}

.order_table {
	width:1000px !important;
}

.order_body {
	margin:0 auto;
	width:1000px;
}

.order_body .price {
	text-align:right;
}

.confirm_receiver {
	float:none !important;
}

.buy_confirm {
	width:500px;
	margin:0 auto !important;
	display:block !important;
}

.confirm_body {
	width:1000px;
	margin:0 auto;
}

.confirm_body .price {
	text-align:right;
}