// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
  width:33%;
  float:left;
  margin-bottom:100px;
}

.product p {
	text-align:center;
}

img {
	float:none !important;
	margin-bottom:0 !important;
}

.disc {
	width:30%;
	float:left;
	margin:0 2px;
	border:solid 2px;
}

.disc_name {
	font-size:17px;
}

.song {
	margin-left:50px;
	margin-top:5px;
}

.product_content {
	margin:30px 10px;
}

table .product_show{
	width:400px !important;
}

.column {
	width:100px;
}