// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_box {
	background-image: url(product_index_background_image.jpg);
	background-size: cover;
 	background-position: center;
  width: 100%;
}

.card:hover {
	background-color:white !important;
}

.product {
  width:310px;
  float:left;
  margin-bottom:100px;
}

.image img {
	width:200px !important;
	height:200px;
}

.product p {
	text-align:center;
}

img {
	float:none !important;
	margin-bottom:0 !important;
}

.disc {
	width:30%;
	float:left;
	margin:0 2px;
	border:solid 2px;
}

.disc_name {
	font-size:17px;
}

.song {
	margin-left:50px;
	margin-top:5px;
}

.product_content {
	margin:30px 10px;
}

table .product_show{
	width:400px !important;
}

.column {
	width:100px;
}
/*レイアウト*/
.products_body{
  width: 90%;
  margin: 0 auto;
}

.products_content{
	
}

.products_content_box{
  width: 90%;
  margin: 0 auto;
}

.card_box{
  float: left;
  margin: 0 10px;
}

.product{
  margin: 0 auto;
}


.ui.card, .ui.cards>.card{
  width: 250px !important;
}
.ui.cards{
  width: fit-content;
  margin: 0 0 0 0 !important;
}

.ui.cards a.card:hover, .card:hover, a.ui.card:hover {
	background: rgba(255, 255, 255, 0.7);
}