// Place all the styles related to the receivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.receiver_error {
	margin:10px;
	color:red;
}

.receiver_body {
	margin:10px;
}

.receiver_body p{
	margin-top:30px;
}