// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*Login画面*/
.login_box{
  background-image: url(login.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.login_body{
  width: fit-content;
  height: 700px;
  margin: 0 auto;
  padding-top: 100px;
}

.login_content{
  background-color: #f3f3f3;
  width: 400px;
  height: fit-content;
  padding: 40px;
  float: left;
}

.fieldPadding{
  padding-bottom: 20px;
}

/*signup画面*/
.signup_box{
  background-image: url(signup.jpg);
  width: 100%;
  height: 1500px;
  background-size: cover;
  background-position: center;
}

.signup_body{
  width: fit-content;
  height: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.signup_content{
  background-color: #f3f3f3;
  width: 400px;
  height: fit-content;
  padding: 40px;
  float: left;
}

/*パスワード再設定画面*/
.fogot_pw_box{
  background-image: url(forgot_pw.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.password_content {
  width:500px;
}


/*ユーザー詳細画面*/
 .user_content {
    margin:20px auto;
    width:80%;
 }

 .user_info {
  width:500px;
 }

 /*ユーザー編集画面*/

.user_edit_content {
  width:85%;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:20px;
}

.user_edit_content button {
  margin-top:10px;
}